
body {
     
    margin: 10%;
    padding: 100px;
    background-color:#FFEDDB;
}

.parent{

    margin: 10px;

}

.page-header{
 
    font: size 15px;
    font-weight:bolder;
    color: #001252;         
}